body {
    background-image: url('../images/man-7750139_1280 (Mediana).png');
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Hace que la imagen se quede fija cuando se hace scroll */
}

.navbar {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    align-items: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: end;
    justify-content: flex-end; /* Alinea los elementos de derecha a izquierda */
}

.navbar .brand {
    display: block;
    color: #e7e7e7;
    /* Remove padding from top/bottom and add 24px padding right/left */
    padding: 0 24px;
    font-size: 24px;
}

.navbar ul li a {
    color: #e7e7e7;
    padding: 24px;
    /* Let's make the anchor display block.
       This will ensure when we hover, focus, or is active we get the full width and height
       of the container.
    */
    display: block;
}

/* When a user hovers or focuses to a link, change the background */
.navbar ul a:hover,
.navbar ul a:focus {
    background-color: #272727;
}

.aviso {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 16px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

button {
    background-color: #008CBA; /* Azul */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px; /* Espacio para separar el botón del aviso */
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    font-size: 16px;
}

.search-form button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #005f7a;
}
